# POSTGRESQL - Session Pooler Connection
DATABASE_URI=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_USERNAME=
DATABASE_NAME=
DATABASE_SSL=

# ENVIRONMENT
NODE_ENV=

# JWT TOKEN SECRET
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

# CLOUDINARY
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_KEY_NAME=

# PORT FOR DEVELOPMENT PHASE
PORT=

# FRONTEND URL
FRONTEND_URL=